body {
    background-image: url('https://f.i.etsystatic.com/15603701/r/il/c04b14/1591180089/il_794xN.1591180089_ryo0.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    background-color: #343a40;
}

img {
    width: 250px;
    height: 250px;
}

#icon {
    font-size: larger;
    display: block;
    margin-top: 3rem;
    color: black;
}